pydra2app >=0.18.5
pydra2app-xnat >= 0.8.1
fileformats >= 0.8.6
fileformats-extras >= 0.2.1
fileformats-datascience >= 0.1.0
fileformats-datascience-extras >= 0.1.1
fileformats-medimage >= 0.4.4
fileformats-medimage-extras >= 0.1.5

