# This workflows will upload a Python Package using Twine when a release is created
# For more information see: https://help.github.com/en/actions/language-and-framework-guides/using-python-with-github-actions#publishing-to-package-registries

name: Build release

on:
  push:
    branches: [ main ]
    tags: [ '*' ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:  # Allow manual triggering by a user with write access to this repo

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Get release tag
      run: echo "RELEASE=`echo $(git describe --tags --abbrev=0)`" >> $GITHUB_ENV

    - name: Unset header
        # checkout@v2 adds a header that makes branch protection report errors
        # because the Github action bot is not a collaborator on the repo
      run: git config --local --unset http.https://github.com/.extraheader

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.11'

    - name: Update build tools
      run: python -m pip install --upgrade pip

    - name: Install dependencies
      run: pip install -r requirements.txt

    - uses: docker/login-action@v2
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }} # - must be in GitHub Secrets!

    - name: Check for PyPI token on tag
      id: deployable
      if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags')
      env:
        PYPI_API_TOKEN: "${{ secrets.PYPI_API_TOKEN }}"
      run: if [ -n "$PYPI_API_TOKEN" ]; then echo "PUSH='--push'" >> $GITHUB_OUTPUT; fi

    - name: Build and push container images
      env:
        PUSH: "${{ steps.deployable.outputs.PUSH }}"
      run: >
        arcana deploy make-app ./australian-imaging-service xnat:XnatCSImage 
        australian-imaging-service --registry ghcr.io 
        --check-registry --raise-errors --release pipelines-metapackage $RELEASE
        --clean-up --tag-latest $PUSH
